@include b(footer){
    position: fixed!important;
    left:0;
    bottom:0;
    z-index:1000;
    width:100%;
    height:pxTorem(96);
    box-shadow: 0 0 pxTorem(10) rgba(0,0,0,.1);
  }
  @include b(nav){
    display: flex;
    list-style: none;
    @include e(item){
      flex:1;
      a{
        position:relative;
        display:block;
        font-size:0;
        text-align:center;
        height:100%;
        text-decoration: none;
        transtion:all .25s ease 0s;
      }
      .text{
        display:block;
        font-size:pxTorem(22);
      }
      .ued-mobile{
        position:relative;
        padding-top:.1rem;
        display:inline-block;
        width:pxTorem(48);
        height: pxTorem(56);
        font-size: pxTorem(40);
      }
      @include when(active){
        a{
        }
        .ued-mobile{
          animation-name: scale;
          animation-duration: .5s;
          animation-timing-function: ease-in-out;
          animation-iteration-count:1;
        }
      }
    }
    @keyframes scale
    {
      0% {
        font-size:pxTorem(40);
      }
      50% {
        font-size:pxTorem(46);
      }
      100% {
        font-size:pxTorem(40);
      }
    }
  }