// 修改input大小
@mixin inputSize($inputHeight, $fontSize) {
    height: $inputHeight;
    font-size: $fontSize;
    &.is-radius{
        border-radius: $inputHeight;
    }
}

@include b(input){
    flex:1;
    border: none;
    outline: none;
    background: none;
    @include e(wrapper){
        display: flex;
        align-items: center;
    }
    @include e(large){
        background: #fff;
        height: 54px;
        @include inputSize(54px, 20px)
    }
    @include e(middle){
        background: #fff;
        height: 96px;
        @include inputSize(54px, 20px)
    }
    @include e(small){
        background: #fff;
        height: 54px;
        @include inputSize(54px, 20px)
    }
}