// "large" | "middle" | "small" | "mini";
$btn-size-large: 44px;
$btn-size-middle: 40px;
$btn-size-small: 30px;
$btn-size-mini: 24px;
// "default" | "primary" | "success" | "warning" | "danger"
$btn-size-default: 44px;
$btn-size-primary: 44px;
$btn-size-success: 44px;
$btn-size-warning: 44px;
$btn-size-danger: 44px;



@include b(btn){

}