@include b(my) {
    min-height: 100vh;
    background: var(--daq-gray-1);
};

@include b(box){
    background: var(--daq-white);
    @include e(header){
        padding:0 pxTorem(30);
        height: pxTorem(96);
        @include border-bottom();
        line-height: pxTorem(96);
    }
}