$daq-font-family: -apple-system, blinkmacsystemfont, 'Helvetica Neue',
helvetica, segoe ui, arial, roboto, 'PingFang SC', 'miui',
'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;

$daq-mask-color: rgba(0,0,0,.7);

$fs16: 16;
$fs18: 18;
$fs20: 20;
$fs22: 22;
$fs24: 24;
$fs26: 26;
$fs28: 28;
$fs30: 30;
$fs32: 32;
$fs34: 34;
$fs36: 36;
$fs38: 38;
$fs40: 40;
$fs44: 44;
$fs46: 46;
$fs48: 48;


