// 防止有滚动条时，弹窗下面的内容可滚动
.fixed {
    position: fixed;
}

// 渐隐渐出
.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 400ms linear 200ms;
}

// 从下往上移动
.translate-top-enter {
    opacity: 0;
    transform: translateY(100%);
}

.translate-top-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 300ms linear 100ms;
}

.translate-top-exit {
    transform: translateY(0);
    opacity: 1;
}

.translate-top-exit-active {
    opacity: 0;
    transform: translateY(100%);
    transition: all 400ms;
}

// 从上往下移动
.translate-bottom-enter {
    opacity: 0;
    transform: translateY(-100%);
}

.translate-bottom-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 300ms linear 100ms;
}

.translate-bottom-exit {
    transform: translateY(0);
    opacity: 1;
}

.translate-bottom-exit-active {
    opacity: 0;
    transform: translateY(-100%);
    transition: all 400ms;
}

// 从左往右移动
.translate-right-enter {
    opacity: 0;
    transform: translateX(-100%);
}

.translate-right-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 300ms linear 100ms;
}

.translate-right-exit {
    transform: translateX(0);
    opacity: 1;
}

.translate-right-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 400ms;
}

// 从右往左移动
.translate-left-enter {
    opacity: 0;
    transform: translateX(100%);
}

.translate-left-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 300ms linear 100ms;
}

.translate-left-exit {
    transform: translateX(0);
    opacity: 1;
}

.translate-left-exit-active {
    opacity: 0;
    transform: translateX(100%);
    transition: all 400ms;
}

// 从大小到
.translate-center-enter {
    opacity: 0;
}

.translate-center-enter-active {
    opacity: 1;
    transition: all 300ms linear 100ms;
}

.translate-center-exit {
    opacity: 1;
}

.translate-center-exit-active {
    opacity: 0;
    transition: all 400ms;
}