/*
* @Author: UEDHE
* @Date:   2018-05-08 15:46:39
* @Last Modified by:   hejianping
* @Last Modified time: 2018-05-22 09:05:46
*/

html {
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  overflow:hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

html,
body,
#app,
.home{
  width:100%;
  height:100%;
}
body{
  // padding-bottom:.96rem;
}

* {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition:all 0.25s ease 0s;
  color:#333;
  &:active{
    outline: 0;
  }
}

b,strong {
  font-weight: bold;
}

mark {
  background: #ff0;
  color: #000000;
}
i{
  font-style: normal;
}
small {
  font-size: 80%;
}

img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

button,input,optgroup,select,textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  border: none;
  outline: none;
  -webkit-appearance: none;
}

button {
  overflow: visible;
}

button,select {
  text-transform: none;
}

button,html input {
  cursor: pointer;
}

button[disabled],html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: normal;
  box-sizing: border-box;
  padding: 0;
}

input::-webkit-outer-spin-button {
  height: auto;
  -webkit-appearance: none;
}



fieldset {
  border: 0.083333rem solid #c0c0c0;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, li,ol {
  list-style: none outside none;
}

h1,h2,h3 {
  font-weight: normal;
  font-size: 100%;
}

input::-moz-placeholder,textarea::-moz-placeholder {
  color: #cccccc;
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder {
  color: #cccccc;
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
  color: #cccccc;
}

input[type="button"] {
  -webkit-appearance: none;
  appearance: none;
}
ul, li, ol{
  list-style: none;
}
@font-face {font-family: 'm-iconfont';  /* project id 657935 */
  src: url('//at.alicdn.com/t/font_657935_110ov2onjsq.eot');
  src: url('//at.alicdn.com/t/font_657935_110ov2onjsq.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_657935_110ov2onjsq.woff') format('woff'),
  url('//at.alicdn.com/t/font_657935_110ov2onjsq.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_657935_110ov2onjsq.svg#m-iconfont') format('svg');
}

.ued-mobile {
  font-family:"m-iconfont" !important;
  font-size:.32rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import "border";
