//背景色
$bg01:#00ceb9;
$bg02:#f5f5f5;
$bg03:#fafafa;
$bg04:#ffffff;

//辅助色
$assist01:#ff9e05;
$assist02:#ff7e00;
$assist03:#09bb07;
$assist04:#f12c20;
$assist05:#fff0e5;

//按钮色
$btn01:#00ceb9;
$btn01hover:#00b9a6;
$btn01disable:#acf4ed;

$btn02:#ff9e05;
$btn02hover:#00b9a6;
$btn02disable:#ffe7c1;

$btn03:#ff7e00;
$btn03hover:#e57100;
$btn03disable:#ffe5cc;

$btn04:#f12c20;
$btn04hover:#d8281d;
$btn04disable:#fcd5d2;

$btn05:#f5f5f5;
$btn06:#e5faf8;
$btn07:#fafafa;
$btn08:#fff;

//字体颜色
$fc01:#00ceb9;
$fc02:#ff9e05;
$fc03:#ff7e00;
$fc04:#09bb07;
$fc05:#f12c20;
$fc06:#333;
$fc07:#666;
$fc08:#999;
$fc09:#c8c8c8;
$fc10:#fff;

//分割线
$bor01:#00ceb9;
$bor02:#7fe6dc;
$bor03:#b4b4b4;
$bor04:#c8c8c8;
$bor05:#d4d4d4;
$bor06:#e2e2e2;
$bor07:#ebebeb;

//字体大小
$f20:10px;
$f22:11px;
$f24:12px;
$f26:13px;
$f28:14px;
$f30:15px;
$f32:16px;
$f34:17px;
$f36:18px;
$f40:20px;
$f46:23px;
