/********* 标签色 *********/
$tc01: var(--tc01);
$tc02: var(--tc02);
$tc03: var(--tc03);
$tc04: var(--tc04);
/********* 字体颜色 *********/
$fc01: var(--fc01);
$fc02: var(--fc02);
$fc03: var(--fc03);
$fc04: var(--fc04);
$fc05: var(--fc05);
$fc06: var(--fc06);
$fc07: var(--fc07);
$fc08: var(--fc08);
$fc09: var(--fc09);
/********* 主色 *********/
// 主色
$mc01: var(--mc01);
// 主色hover
$mc02: var(--mc02);
// 主色禁用
$mc03: var(--mc03);
// 按钮边框
$mc04: var(--mc04);
// 回复按钮背景
$mc05: var(--mc05);
// 按钮渐变
$mc06: var(--mc06);
$mc07: var(--mc07);
// 夜间模式
$mc08: var(--mc08);
/********* 辅色 *********/
// 辅色
$ac01: var(--ac01);
// 辅色hover
$ac02: var(--ac02);
// 辅色禁用
$ac03: var(--ac03);
/********* 背景色 *********/
// 弹出层背景色
$bg01: var(--bg01);
// 背景底色
$bg02: var(--bg02);
// 最浅背景色
$bg03: var(--bg03);
// 模块背景色
$bg04: var(--bg04);
/********* 分割线 *********/
$lc01: var(--lc01);
$lc02: var(--lc02);

// 字体大小
$s46: 23px;
$s44: 22px;
$s40: 20px;
$s38: 19px;
$s36: 18px;
$s34: 17px;
$s32: 16px;
$s30: 15px;
$s28: 14px;
$s26: 13px;
$s24: 12px;
$s22: 11px;
$s20: 10px;
$s18: 9px;
$s16: 8px;
$s14: 7px;
$s12: 6px;
