/*主色*/
$c01: #36cd64;
$c02: #32bd5d;
$c03: #c2f0d0;
/*辅色*/
$c04: #ff9e05;
$c05: #ef9406;
$c06: #ffeccd;
/*标签色*/
$c07: #e2fce9;
$c08: #fff5e6;
$c09: #e8f4ff;
$c10: #ffe6e6;
$c11: #fef4cf;
$c12: #f0f0fa;
$c13: #fbf0f9;
/*渐变色*/
$c14: #09b671;
$c15: #87ce74;
$c16: #ff7862;
$c17: #ff6046;
/*点缀色*/
$c18: #1995ff;
$c19: #ff4e4e;
$c20: #ffc016;
$c21: #676ecf;
$c22: #da69c6;
$c23: #ffd800;
/*分割线色*/
$c24: #d4d4d4;
$c25: #e8e8e8;
/*背景色*/
$c26: #f5f5f5;
$c27: #000000;
/*字体色*/
$c28: #333333;
$c29: #666666;
$c30: #999999;
$c31: #bdbdbd;
$c32: #ffffff;
/*特殊：志愿者*/
$c33: #fd623e;
/*特殊：邀请有礼*/
$c34: #f24b25;
/*特殊：品非遗*/
$c35: #34ac9e;
$c36: #2e978b;
$c37: #d6eeec;
$c38: #b08f69;
$c39: #987c5c;
$c40: #efe9e1;
/*特殊：会员中心*/
$c41: #ffe3af;
$c42: #db9a4e;
$c43: #916d2e;
$c44: #5c3620;
$c45: #f8f2e6;
$c46: #d2a064;
$c47: #665e5e;
$c48: #504747;
$c49: #f7dfae;
$c50: #ecc783;
$c51: #dddddd;
$c52: #cbcbcb;

$s64: 32px;
$s48: 24px;
$s44: 22px;
$s40: 20px;
$s38: 19px;
$s36: 18px;
$s32: 16px;
$s30: 15px;
$s28: 14px;
$s26: 13px;
$s24: 12px;
$s22: 11px;
$s20: 10px;
$s18: 9px;


