/********* 标签色 *********/
$tc01: var(--tc01);
$tc02: #fff5e6;
$tc03: #e8f4ff;
$tc04: #ffe6e6;
/********* 字体颜色 *********/
$fc01: #ff9e05;
$fc02: #36cd64;
$fc03: #ff4e4e;
$fc04: #1995ff;
$fc05: #333;
$fc06: #666;
$fc07: #999;
$fc08: #fff;
$fc09: #fff;
/********* 主色 *********/
// 主色
$mc01: #3476ed;
// 主色hover
$mc02: #296ce5;
// 主色禁用
$mc03: #cfe0ff;
// 按钮边框
$mc04: rgba(52, 118, 237, .2);
// 回复按钮背景
$mc05: rgba(52, 118, 237, .1);
// 按钮渐变
$mc06: rgba(52, 118, 237, 1);
$mc07: rgba(52, 118, 237, .8);
// 夜间模式
$mc08: #3476ed;
/********* 辅色 *********/
// 辅色
$ac01: #ff9e05;
// 辅色hover
$ac02: #ef9406;
// 辅色禁用
$ac03: #FFECCD;
/********* 背景色 *********/
// 弹出层背景色
$bg01: rgba(0, 0, 0, .4);
// 背景底色
$bg02: #f5f5f5;
// 最浅背景色
$bg03: #fafafa;
// 模块背景色
$bg04: #ffffff;
/********* 分割线 *********/
$lc01: #eee;
$lc02: #f5f5f5;
