/********* 标签色 *********/
$tc01: var(--tc01);
$tc02: var(--tc01);
$tc03: var(--tc01);
$tc04: var(--tc01);
/********* 字体颜色 *********/
$fc01: var(--tc01);
$fc02: var(--tc01);
$fc03: var(--tc01);
$fc04: var(--tc01);
$fc05: var(--tc01);
$fc06: var(--tc01);
$fc07: var(--tc01);
$fc08: var(--tc01);
$fc09: var(--tc01);
/********* 主色 *********/
// 主色
$mc01: var(--tc01);
// 主色hover
$mc02: var(--tc01);
// 主色禁用
$mc03: var(--tc01);
// 按钮边框
$mc04: var(--tc01);
// 回复按钮背景
$mc05: var(--tc01);
// 按钮渐变
$mc06: var(--tc01);
$mc07: var(--tc01);
// 夜间模式
$mc08: var(--tc01);
/********* 辅色 *********/
// 辅色
$ac01: var(--tc01);
// 辅色hover
$ac02: var(--tc01);
// 辅色禁用
$ac03: var(--tc01);
/********* 背景色 *********/
// 弹出层背景色
$bg01: var(--tc01);
// 背景底色
$bg02: var(--tc01);
// 最浅背景色
$bg03: var(--tc01);
// 模块背景色
$bg04: var(--tc01);
/********* 分割线 *********/
$lc01: var(--tc01);
$lc02: var(--tc01);
