/********* 标签色 *********/
$tc01: #e2fce9;
$tc02: #fff5e6;
$tc03: #e8f4ff;
$tc04: #ffe6e6;
/********* 字体颜色 *********/
$fc01: #ff9e05;
$fc02: #36cd64;
$fc03: #ff4e4e;
$fc04: #1995ff;
$fc08: #fff;
$fc09: #fff;