@include b(tab){
    display: flex;
    height: pxTorem(90);
    line-height: pxTorem(90);
    text-align: center;
    font-size: pxTorem(30);
    background: var(--daq-primary-color);
    color:var(--daq-white);
    @include e(item) {
        flex:1;
        &:after{
            position: absolute;
            right: 0;
            content: '';
            width: pxTorem(2);
            height: pxTorem(40);
        }
    }
}