@include b(tab){
    display: flex;
    height: pxTorem(90);
    line-height: pxTorem(90);
    text-align: center;
    font-size: pxTorem(30);
    background: var(--daq-primary-color);
    color:var(--daq-white);
    @include e(item) {
        position: relative;
        flex:1;
        &:after{
            position: absolute;
            right: 0;
            top:50%;
            transform: translateY(-50%);
            content: '';
            width: pxTorem(2);
            height: pxTorem(30);
            background: rgba(255,255,255,.1);
        }
    }
}