@include b(replay){
  @include e(hd){
    padding: 10px 15px;
    background: $bg02;
  }
  @include e(list){
    background: $bg04;
  }
  @include e(item){
    padding: 15px 15px;
    .content{
      padding:10px 0 .3rem 35px;
      color:#666;
      font-size: $f28;
    }
    .author_content {
      display: flex;
      align-items: center;
      font-size: $f28;
      .user-avatar {
        width: 30px;
        height: 30px;
        margin-right: 5px;
        border-radius: 50%;
        overflow: hidden;
        background: #ccc;
      }
      .user-info {
        flex: 1;
      }
      .user-name{
        padding-right: 5px;
      }
    }
    .operation{
      font-size: $f26;
      line-height: 1;
      span {
        padding-right: 10px;
        margin-right: 10px;
        cursor: pointer;
        color: $fc07;
        &:active{
          color: $fc01;
        }
      }
      i {
        display: inline-block;
        padding-right: 5px;
        text-align: center;
        color: $fc08;
        font-size: $f26;
      }
    }
  }
}
