@include b(replay){
  @include e(hd){
    padding: .2rem .3rem;
    background: $bg02;
    border-bottom: 1px solid $bor03;
    border-top: 1px solid $bor05;
  }
  @include e(list){
    padding: 0 .3rem;
    background: $bg04;
  }
  @include e(item){
    padding: .3rem 0;
    border-bottom: 1px solid $bor05;
    .content{
      padding:.2rem 0 .3rem .7rem;
      color:#666;
      font-size: $f28;
    }
    .author_content {
      display: flex;
      align-items: center;
      font-size: $f28;
      .user-avatar {
        width: .6rem;
        height: .6rem;
        margin-right: .1rem;
        border-radius: 50%;
        overflow: hidden;
        background: #ccc;
      }
      .user-info {
        flex: 1;
      }
      .user-name{
        padding-right: .1rem;
      }
    }
    .operation{
      font-size: $f26;
      line-height: 1;
      span {
        padding-right: .2rem;
        margin-right: .2rem;
        border-right: 1px solid $bor05;
        color: $fc07;
        &:last-child {
          border: none;
        }
      }
      i {
        display: inline-block;
        padding-right: .1rem;
        text-align: center;
        color: $fc08;
        font-size: $f26;
      }
    }
  }
}
