@include b(details) {
    font-size: pxTorem(28);

    @include e(header){
        padding: 0 pxTorem(30) pxTorem(10) pxTorem(30);
        @include border-bottom();
        .title{
            font-size: 30px;
            line-height: 1.2;
        }
        .info{
            display: flex;
            color:var(--daq-gray-4);
            font-size: pxTorem(24);
            span:before{
                content: '•';
                padding:0 5px;
            }
        }
    }

    @include e(body) {
        padding: 0 pxTorem(30);
        font-size: 15px;
        line-height: 1.7em;
        overflow: auto;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 10px 0;
        font-family: inherit;
        font-weight: 700;
        line-height: 20px;
        color: inherit;
        text-rendering: optimizelegibility
    }

    h1 small,
    h2 small,
    h3 small,
    h4 small,
    h5 small,
    h6 small {
        font-weight: 400;
        line-height: 1;
        color: #999
    }

    h1,
    h2,
    h3 {
        line-height: 40px
    }

    h1 {
        font-size: 38.5px
    }

    h2 {
        font-size: 31.5px
    }

    h1 small,
    h3 {
        font-size: 24.5px
    }

    h2 small,
    h4 {
        font-size: 17.5px
    }

    h3 small,
    h4 small,
    h5 {
        font-size: 14px
    }

    h6 {
        font-size: 11.9px
    }

    img {
        max-width: 100%;
    }

    blockquote p,
    ol ol,
    ol ul,
    ul ol,
    ul ul {
        margin-bottom: 0
    }

    address,
    dl,
    legend,
    pre.prettyprint {
        margin-bottom: 20px
    }

    ol,
    ul {
        padding: 0;
        margin: 0 0 10px 25px
    }

    ol.inline,
    ol.unstyled,
    ul.inline,
    ul.unstyled {
        margin-left: 0;
        list-style: none
    }

    ol.inline>li,
    ul.inline>li {
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px
    }

    blockquote p,
    ol ol,
    ol ul,
    ul ol,
    ul ul {
        margin-bottom: 0
    }

    blockquote {
        padding: 0 0 0 15px;
        margin: 0 0 20px;
        border-left: 5px solid #eee
    }

    pre.prettyprint {
        font-size: 14px;
        border-radius: 0;
        padding: 0 15px;
        border: none;
        margin: 20px -10px;
        border-width: 1px 0;
        background: #f7f7f7;
        -o-tab-size: 4;
        -moz-tab-size: 4;
        tab-size: 4;
        overflow: hidden;
        overflow-y: auto;
    }

    blockquote p {
        font-size: 17.5px;
        font-weight: 300;
        line-height: 1.25
    }

    blockquote small {
        color: #999
    }

    re {
        font-size: 14px;
        border-radius: 0;
        padding: 0 15px;
        border: none;
        margin: 20px -10px;
        border-width: 1px 0;
        background: #f7f7f7;
        -o-tab-size: 4;
        -moz-tab-size: 4;
        tab-size: 4;
    }

    *{
        word-wrap: break-word;
        word-break: break-all;
    }

    hr {
        margin: 20px 0;
        border: 0;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #fff
    }

    dt {
        font-weight: 700
    }

    dd {
        margin-left: 10px
    }

    a{
        color: var(--daq-primary-color);
        text-decoration: none;
        &:active{
            color:var(--daq-primary-color-active);
        }
    }

}

@include b(reply){
    border-top:pxTorem(30) solid var(--daq-gray-1);
    @include e(header){
        @include border-bottom();
        .title{
            font-size: pxTorem($fs36);
        }
    }
}