@include b(login) {
    .go{
        display: block;
        text-decoration: none;
        text-align:center;
        font-size: pxTorem($fs26);
        color:var(--daq-primary-color);
        line-height: pxTorem(100);
    }
}