@include b(login) {
    min-height: 100vh;
    @include e(header) {
        background: var(--daq-gray-7);
        padding: pxTorem(300) 0 pxTorem(50) 0;
        text-align: center;
        .logo {
            height: pxTorem(80);
        }
    }
    @include e(body){
        .sz-list-item{
            margin:0;
            padding: pxTorem(24);
        }
        .sz-btn{
            margin-top:pxTorem(30);
        }
    }
}