@include b(topics-list){
  padding:45px 0 48px 0;
  background:$bg04;
}
@include b(topics-item){
  transition: all .25s ease 0s;
  padding:10px 15px;
  a{
    display: block;
    color:#333;
    text-decoration: none;
  }
  &:active{
    background:rgba(0,0,0,.05)
  }
  @include e(hd) {
    display: flex;
    align-items: center;
    img{
      width:100%;
      height: 100%;
    }
    .user-avatar{
      width: 30px;
      height: 30px;
      margin-right: 5px;
      border-radius: 50%;
      overflow: hidden;
      background:#ccc;
    }
    .user-name{
      font-size: $f34;
      line-height: 1;
    }
    .create-at{
      padding-top: 8px;
      font-size: $f24;
      color: $fc08;
      line-height: 1;
    }
  }
  @include e(bd){
    padding: 10px 0;
    font-size: $f36;
    .put-top{
      padding: 0 5px;
      vertical-align: middle;
      display: inline-block;
      margin-right: 5px;
      line-height: 18px;
      font-size: $f22;
      border:1px solid $bor01;
      color:$bor01;
    }
  }
  @include e(ft){
    font-size: 0;
    .ued-mobile{
      padding-right: 5px;
      font-size: $f20;
    }
    span{
      padding-right: 10px;
      line-height: 1;
      font-size: $f24;
      color: $fc09;
      margin-right: 10px;
      border-right: 1px solid $bor06;
      &:last-child{
        border: none;
      }
    }
  }
}
