@include b(toast) {
    position: fixed;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    left: 50%;
    top: 50%;
    z-index: 1000;
    opacity: 0;
    text-align: center;
    color: #fff;
    font-size: 11px;
    animation-fill-mode: forwards;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .7);
    .sz-icon {
      margin-top:5px;
      height: 60px;
      font-size: 40px;
      line-height: 60px;
      display: block;
    }
    @include e(loading) {}
    @include e(success) {}
    @include e(warning) {}
    @include e(error) {}
    @include e(html){
      width: auto;
      height: 30px;
      padding:0 5px;
      border-radius: 3px;
      line-height: 30px;
      .sz-icon{
        display: none;
      }
      font-size: 12px;
    }
    @include when(show) {
      animation-name: show;
      animation-duration: .5s;
    }
    @keyframes show {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @include when(hide) {
      animation-name: hide;
      animation-duration: .3s;
    }
    @keyframes hide {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }
  