// 加载模块
@include b(loading) {
    width: pxTorem(200);
    height: pxTorem(200);
    font-size: pxTorem($fs24);
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, .8);
    border-radius: pxTorem(20);

    @include e(wrapper) {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 10000;
    }

    @include e(status) {
        position: relative;
        margin:pxTorem(20) auto 0 auto;
        width: pxTorem(80);
        height: pxTorem(80);
        animation: loading 3s linear infinite;
        background: url('../../assets/images/loading.png') no-repeat;
        background-size:100% 100%;

        @keyframes loading {
            0% {
                transform: rotate(0);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }

    @include e(text) {
        padding-top: pxTorem(10);
    }
}