@include b(details){
  padding-bottom: 48px;
  background: $bg04;
  @include e(hd){
    padding: 25px 15px;
    .title {
      font-size: $f40;
      font-weight: bold;
    }
    .info{
      padding-top: 10px;
      font-size: 0;
      .ued-mobile {
        padding-right: 5px;
        font-size: $f20;
      }
      span {
        padding-right: 10px;
        line-height: 1;
        font-size: $f24;
        color: $fc09;
        margin-right: 10px;
        border-right: 1px solid $bor06;
        &:last-child {
          border: none;
        }
      }
    }
  }
  @include e(bd){
    padding: 0 15px;
    font-size: $f30;
    overflow: hidden;
    img{
      max-width: 100%;
    }
    h2 {
      padding: 15px 0;
    }
    h3,
    h4 {
      padding: 15px 0;
    }
    h1 {
      display: none;
    }
    p,
    li {
      margin: 15px 0;
      color: $fc07;
    }
    a {
      color: $fc01;
      word-wrap: break-word
    }
  }
}
