@include b(replay) {
 @include e(item){
     @include border-bottom();
     @include m(header){
         display: flex;
         .avatar{
             width: pxTorem(64);
             height: pxTorem(64);
             border-radius: 50%;
             overflow: hidden;
             img{
                 width: 100%;
                 height: 100%;
             }
         }
         .content{
             flex: 1;
         }
     }
 }
}