@include b(message){
    overflow: hidden;
    @include e(item){
        padding:pxTorem(20);
        margin:pxTorem(20) pxTorem(30);
        background: var(--daq-white);
        border-radius: pxTorem(20);
        @include m(header){
            display:flex;
            align-items: center;
            .avatar{
                width: pxTorem(64);
                height: pxTorem(64);
                border-radius: 50%;
                overflow: hidden;
            }
            content{
                padding-left: pxTorem(20)
            }
        }
    }
}