// "large" | "middle" | "small" | "mini"
$input-large: pxTorem(88);
$input-middle: pxTorem(80);
$input-small: pxTorem(60);
$input-mini: pxTorem(48);

$input-large-font-size: pxTorem(32);
$input-middle-font-size: pxTorem(30);
$input-small-font-size: pxTorem(24);
$input-mini-font-size: pxTorem(22);